.footer {
    background-color: $color-alt;
    color: $color-dark;
    &__contenedor {
        padding: 1.5rem 0;
        text-align: center;
    }
    &__lema {
        font-family: $fuente-hand;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    &__datos {
        font-weight: bold;
    }
}