.hamburger {
    display: flex;
    align-items: center;
    @media screen and (min-width: $bk-tablet) {
        display: none;
    }
    &__button {
        width: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &__bar {
            width: 100%;
            display: block;
            height: .1rem;
            margin: .4rem 0;
            background-color: $color-light;
            border-radius: 5px;
        }
    }
}