.header {
    background-color: $color-enfasis;
    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(5px) rem(20px);
    @media screen and (min-width: $bk-tablet) {
        flex-direction: row;
        justify-content: space-between;
        padding-left: rem(30px);
        padding-right: rem(30px);
    }
    
}