.img-fondo {
    background: url('../img/background-main.jpg');
    width: 100%;
    height: rem(400px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.features {
    background-color: $color-principal;
    &__contenedor {
        max-width: 1024px;
        padding: 2rem 1rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__icono {
        height: rem(200px);
        margin-bottom: 2rem;
    }
    &__texto {
        &__p {
            color: $color-light;
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }
}