.desktop {
    padding: 1.5rem 0;
    display: none;
    @media screen and (min-width: $bk-tablet) {
        display: block;
    }
    &__navigation {
        display: flex;
        justify-content: flex-end;
        &__item {
            margin-left: rem(10px);
        }
        &__link {
            color: $color-light;
            text-decoration: none;
            text-transform: lowercase;
            display: inline-block;
            padding: rem(5px);
            border: 1px solid $color-alt;
            border-radius: 2px;
            &:hover {
                color: $color-alt;
            }
        }
    }
}

.mobile {
    position: fixed;
    top: 0;
    background: rgba($color-dark, 0.9);
    width: 80vw;
    height: 100vh;
    color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 500ms ease-out;
    &__list {
        list-style: none;
        font-size: 1.5rem;
        &__link {
            color: $color-alt;
            text-decoration: none;
            &:hover {
                color: $color-light;
            }
        }
    }
}

.open {
    display: flex;
    transform: translateX(0);
}