$fuente-principal: 'Hind', sans-serif;
$fuente-hand: 'Indie Flower', sans-serif;
$color-enfasis: #5b0825;
$color-light: #fff;
$color-dark: #333;
$color-principal: #205876;
$color-alt: #aeae36;
$bk-tablet: 768px;