footer.footer
    .footer__contenedor
        p.footer__lema Encuentra los sabores olvidados
        p.footer__datos 
            |
            small Calle Principal, 45. 55550 Villanueva del Pino
        p.footer__datos
            |
            small 909 000 333 444
            |
        p.footer__datos
            |
            small reservas@casadecomidas.com
        
