meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="description" content=descripcion)
title Sitio con Menú Responsive
link(rel="icon" href="img/favicon.png" type="image/png")
link(rel="stylesheet" href="css/estilos.min.css")