main.main
    section.img-fondo
    section.features
        .features__contenedor
            img.features__icono(src="img/icono-main.svg" alt="casaDeComidas")
            .features__texto
                p.features__texto__p ¿Te acuerdas de los buñuelos de bacalao de tu abuela?
                p.features__texto__p ¿Te acuerdas de ese toque de brandy que ponía tu madre en las albóndigas?
                p.features__texto__p ¿Y de esas sardinas al sarmiento que hacía el tío Joaquín en el chalet?
                hr.hr
                p.features__texto__p
                    |
                    span.texto--enfasis casaDeComidas
                    |  te propone todos esos sabores que hacía mucho tiempo que nadie te había ofrecido, presentados de una forma moderna, diferente y saludable.