nav.desktop
    .desktop__navigation
        - for (n = 0; n < menuItems.length; n++)
            .desktop__navigation__item
                a.desktop__navigation__link(href=`${menuLinks[n]}.html`)= menuItems[n]