include config/config

doctype html
html(lang="es")
    head
        include includes/head
    body
        header.header
            include includes/hamburger
            h1.header__titulo casaDeComidas
            include includes/nav-desktop
        block mobile
            include includes/mobile
        block main
            include includes/main
        block footer
            include includes/footer
        script(src="js/script.min.js")
